<aside id="left-panel">
<nav>
<ul>
    <li class="active">
        <a href="{{ path('home_dashboard') }}" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-database"></i> <span class="menu-item-parent">Master</span></a>
        <ul>
            <li>
                <a href="{{ path('propinsi_index') }}">Propinsi</a>
            </li>
            <li>
                <a href="{{ path('kabupaten_index') }}">Kabupaten</a>
            </li>
            <li>
                <a href="{{ path('kecamatan_index') }}">Kecamatan</a>
            </li>
            <li>
                <a href="{{ path('kelurahan_index') }}">Kelurahan</a>
            </li>
            <li>
                <a href="{{ path('indikator_index') }}">Indikator</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Indikator</span></a>
        <ul>
            <li>
                <a href="#">Kepesertaan</a>
            </li>
            <li>
                <a href="#">Kepesertaan</a>
            </li>
            <li>
                <a href="#">Kepesertaan</a>
            </li>
            <li>
                <a href="#">Kepesertaan</a>
            </li>
            <li>
                <a href="#">Kepesertaan</a>
            </li>
            <li>
                <a href="#">Kepesertaan</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path('query_dashboard') }}"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Query</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">Utilitas</span></a>
        <ul>
            <li>
                <a href="{{ path('user_index') }}">User Management</a>
            </li>
            <li>
                <a href="#">Import Data</a>
            </li>
            <li>
                <a href="#">Export Data</a>
            </li>
        </ul>
    </li>
</ul>
</nav>
</aside>